data/
__pycache__/
logs/*
slurm_logs/
.vscode/
pretrained_weights/
lightning_logs/
imgs/
checkpoints/
*.out
LidarDiffusion/
*.html
*.npz
livox_range_images/
extract_data/
final_models/
trash/
trash_good/